* {
  padding: 0;
  margin: 0px; }

body {
  font-family: 'Istok Web', sans-serif;
  margin: 0;
  padding: 0; }

/*Section 1*/
#splash {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background1.png");
  background-color: black;
  border: soild green 1px;
  z-index: 20; }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px; }

.info {
  display: block;
  position: relative;
  float: right;
  margin-right: 40px;
  margin-top: -30px;
  z-index: 20;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out; }
  .info:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

#calculate {
  height: 70px;
  width: 250px;
  margin-top: 100px;
  border: 4px solid black;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
  -webkit-transition: 1s;
  color: black; }
  #calculate:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  #calculate h3 {
    font-family: 'Ubuntu', sans-serif;
    color: black; }
  #calculate a {
    text-decoration: none; }

.inputs {
  width: 40vw;
  height: 50vh;
  /*border: solid black 1px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px; }

.start_finish {
  float: left;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  height: 40%;
  width: 100%;
  border: solid black 1px; }

.start {
  float: left;
  display: inline-block;
  height: 40px;
  width: 100%;
  border: solid black 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px; }
  .start input {
    float: left;
    display: inline-block;
    margin-left: 250px;
    width: 50%; }
  .start h4 {
    float: left;
    display: inline-block; }

.finish {
  float: left;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px; }

.input-group {
  margin-top: 40px; }

/*Section 2*/
#map_function {
  width: 100vw;
  height: 100vh; }

#map {
  width: 100vw;
  height: 75vh; }

.price_section {
  width: 100vw;
  height: 25vh;
  background-color: #16ADB5;
  font-family: 'Ubuntu', sans-serif; }

.transport_cost {
  position: inherit;
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  color: white;
  text-align: center; }
  .transport_cost h4 {
    padding-top: 40px; }

.plus {
  position: relative;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%; }
  .plus img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.petrol_cost {
  position: inherit;
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  color: white;
  text-align: center;
  padding-bottom: 40px; }
  .petrol_cost h4 {
    padding-top: 15px; }

.equals {
  position: relative;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%; }
  .equals img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.total_cost {
  position: inherit;
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  color: white;
  text-align: center; }
  .total_cost h4 {
    font-size: 2em;
    padding-top: 22px; }

.circle {
  margin-top: 40px;
  height: 80px;
  width: 80px;
  border: solid white 2px;
  border-radius: 50px;
  margin-right: auto;
  margin-left: auto; }

/*Section 3*/
#how_it_works {
  width: 100vw;
  height: 100vh;
  background-color: #57BA84; }
  #how_it_works a {
    text-decoration: none; }

h2 {
  font-family: 'Exo', sans-serif;
  margin: 0;
  text-align: center;
  font-size: 6em;
  color: black;
  padding-top: 10vh; }

.text_box {
  height: 40vh;
  width: 70vw;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white; }
  .text_box p {
    font-size: 1.5em; }

.to_top {
  height: 70px;
  width: 250px;
  margin-top: 100px;
  border: 4px solid black;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
  -webkit-transition: 1s; }
  .to_top:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .to_top h3 {
    font-family: 'Ubuntu', sans-serif; }

.clicked {
  margin-top: 105px;
  -webkit-transition: 1s; }

.controls {
  /*margin-top: 10px;*/
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); }

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  /* margin-left: 12px;*/
  padding: 0 11px 0 13px;
  /*text-overflow: ellipsis;*/
  width: 100%; }

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe; }

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px; }

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300; }
