@mixin center-image($center) {
  display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}




body {
  font-family: 'Istok Web', sans-serif;
}




/*Section 1*/

#splash{
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/background1.png");
  background-color: black;
  border: soild green 1px;

}

 .logo{
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 40px;
    }


    .info{
      display: block;
      position: relative;
      float: right;
      margin-right: 40px;
      margin-top: -30px;
      z-index: 20;
      border-radius: 50%;
      -webkit-transition: -webkit-transform .8s ease-in-out;
      transition:         transform .8s ease-in-out;
        &:hover{
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }

    }

.calculate{
  height: 70px;
  width: 250px;
  margin-top: 100px;
  border: 4px solid black;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
  -webkit-transition:1s;
  color: black;

   &:hover{
      background-color: rgba(0, 0, 0, 0.2);
    }

    h3{
      font-family: 'Ubuntu', sans-serif;
      color: black;
    }

    a{
      text-decoration: none;
    }

 }



.inputs{
  width: 40vw;
  height: 50vh;
  /*border: solid black 1px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
   
}

.start_finish{
  float: left;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  height: 40%;
  width: 100%;
  border: solid black 1px;
}

.start{
  float: left;
  display: inline-block;
  height: 40px;
  width: 100%;
  border: solid black 1px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
    input{
      float: left;
      display: inline-block;
      margin-left: 250px;
      width: 50%;
    }
    h4{
      float: left;
      display: inline-block;
    }
}

.finish{
  float: left;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.input-group{

  margin-top: 40px;
}




/*Section 2*/

#map_function{
  width: 100vw;
  height: 100vh;
}
#map{
  width: 100vw;
  height: 75vh;
  
}

.price_section{
  width: 100vw;
  height: 25vh;
  background-color: #16ADB5;
  font-family: 'Ubuntu', sans-serif;
}


.transport_cost{
  position: inherit;
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  border: solid black 1px;
  color: white;
  text-align: center;
    h4{
      
      padding-top: 40px;
     
    }
}

.plus{
  position: inherit;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%;
  border: solid black 1px;
}

.petrol_cost{
  position: inherit;
  display: inline-block;
  float: left;
  width: 25%;
  height: 100%;
  border: solid black 1px;
  color: white;
  text-align: center;
    h4{
      
      padding-top: 40px;
     
    }
}

.equals{
  position: inherit;
  display: inline-block;
  float: left;
  width: 10%;
  height: 100%;
  border: solid black 1px;
}

.total_cost{
  position: inherit;
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  border: solid black 1px;
}


/*Section 3*/

#how_it_works{

  width: 100vw;
  height: 100vh;
  background-color: #57BA84;
    a{
    text-decoration: none;
    }
  
}

h2{
  font-family: 'Exo', sans-serif;
  margin: 0;
  text-align: center;
  font-size: 6em;
  color: black;
  padding-top: 10vh;
}


.text_box{
  height: 40vh;
  width: 70vw;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: white;
  p{
    font-size: 1.5em;
  }
}

.to_top{
  height: 70px;
  width: 250px;
  margin-top: 100px;
  border: 4px solid black;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
  -webkit-transition:1s;

   &:hover{
      background-color: rgba(0, 0, 0, 0.2);
    }

    h3{
      font-family: 'Ubuntu', sans-serif;
    }

}


.clicked{
    margin-top:105px;
    -webkit-transition:1s; 
 }


